# =========================================
# SYSTEM FILES
# =========================================

.DS_Store
Thumbs.db

# =========================================
# EDITORS
# =========================================

.vscode/
.idea/

# =========================================
# LOGS
# =========================================

*.log

# =========================================
# NODE
# =========================================

node_modules/

# =========================================
# BUILD
# =========================================

dist/
build/

# =========================================
# ENV FILES
# =========================================

.env
.env.local
.env.production

# =========================================
# CACHE
# =========================================

.cache/
.parcel-cache/

# =========================================
# OS GENERATED
# =========================================

desktop.ini
